/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');


:root {
	--white: #ffffff;
	--black: #000;
	--headerBackground:#F5F5F5;
	--lightBorder:#D5D4D8;
	--darkFont:#4A4E74;
	--lightHeading:#918E9B;
  }

* {
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;	
	height: 100vh;
	overflow: hidden;
	background-color: var(--black);
	user-select: none;
}

.main{
	background-color: var(--white);
	height:85vh;
	width: 70vh;
}

body, .header-block{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.heading, .listTask, .notes-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.heading, .notes-container{
	color: var(--lightHeading);
}
body, h1,h5, h6 {
	margin:0;
}
.taskName,#total-cost{
	font-weight: 700;	
}
h5, .taskCost{
	font-weight: 400;
}

.detail-block, .header-block{
	padding:0 4vh ;
}


h1{
	font-size: 2.5em;
	font-weight: 800;
	margin-top: 1.5vh;
}
h5{
	font-size: 0.9em;
	margin-top:1vh;
}
h6{
	font-weight: 600;
}

.header-block{
	background: var(--headerBackground);
	height: 25vh;
}

.buttons{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 4vh;	
	margin-bottom: 10px;
}

.job-select{
	background-color: var(--white);
	border: 1px solid var(--lightBorder);
	border-radius: 7px;
	padding: 9px 13px;
	color: var(--darkFont);
}
.job-select:focus{
	border: 2px solid var(--darkFont);
}
.notes-heading{
	 border-top:1px solid var(--lightBorder);
	padding-top: 5%;
}
.task-heading{
	padding-top:3%;
}

#send-invoice{
	background: #3770ED;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	border-radius: 7px;
	width: 100%;
	color: var(--white);
	padding: 10px;
	border: none;
	margin-top:4vh;
}
#send-invoice i{
	padding:0 10px;
}
.listTask p{
	color: var(--darkFont);
	font-size: 1.2em;
	margin:5px 0;
}
#tasks{
	margin-bottom: 20px;
	margin-top:10px;
}
#total-cost{
	font-size: 1.8em;
	margin:5px 0;
	padding: 0px;
}
#note-el{
	font-size: 0.8em;	
}